<h1>
  {{ product.title }}
</h1>
<p>{{ product.price | money }}</p>
<div>
  {{ product.description }}
</div>

{% form 'product', product %}
    <select name="id">
        {% for variant in product.variants %}
          <option value="{{ variant.id }}"
            {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
          >
            {{ variant.title }} - {{ variant.price | money }}
          </option>
        {% endfor %}
      </select>

  </select><br />
  <input type="text" name="quantity" min="1" value="1">
  <input type="submit" value="Add to cart">
{% endform %}